* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
  position: sticky;
  top: 0;
  box-shadow: 0 0 50px #ccc;
  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 1rem;
    img {
      width: 6vw;
      height: 6vh;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    div.logo {
      img {
        width: 8vw;
        height: 8vh;
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url(../Pictures/pexels-photo-416676.jpeg);
    background-size: cover;
    background-position: center;

    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      min-height: 90vh;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h2 {
        font-size: 3rem;
        color: white;
        margin: 2rem;
      }

      button.start {
        background-color: #91dde2;
        padding: 0.75rem 1.5rem;
        font-size: 1.5rem;
        font-weight: bolder;
        color: white;
        text-shadow: 1px 1px 1px rgb(140, 139, 139);
        border: none;
        border-radius: 1rem;
        border-style: outset;
        cursor: pointer;
      }
    }
  }
}

section.second_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 2rem;
    margin: 2rem;
    span {
      color: #09777d;
    }
  }
  section.cards {
    display: flex;
    width: 80%;
    min-height: 80vh;
    flex-wrap: wrap;
    div.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1 1 300px;
      padding: 1rem;
      img {
        width: 15vw;
        border-radius: 50%;
      }
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.25rem;
      }
      a {
        text-decoration: none;
        color: white;
        background-color: #09777d;
        padding: 0.75rem 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  section.second_page {
    section.cards {
      div.card {
        img {
          width: 50vw;
        }
        h3 {
          padding: 1rem;
        }
        p {
          padding: 1rem;
        }
      }
    }
  }
}

footer {
  background-color: #e4e2e2;
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  div.logo {
    display: flex;
    img {
      width: 3vw;
    }
  }
  nav {
    width: 30%;
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      li {
        a {
          color: black;
          text-decoration: none;
          font-weight: bolder;
        }
      }
    }
  }
  section.link {
    img {
      width: 5vw;
      margin: 0rem 1rem;
    }
  }
}

@media screen and (max-width: 766px) {
  footer {
    div.logo {
      img {
        width: 8vw;
      }
    }
    nav {
      width: 80%;
    }
    section.link {
      a {
        img {
          width: 10vw;
        }
      }
    }
  }
}

// scrollbar setting
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09777d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #91dde2;
}

// 設定圖片效果
div.image-container {
  overflow: hidden;
  width: 15vw;
  border-radius: 50%;
  img:hover {
    transform: scale(1.2);
  }
  img {
    transition: all 0.2s;
  }
}
@media screen and (max-width: 766px) {
  div.image-container {
    width: 50vw;
    border-radius: 50%;
  }
}
